*{
    margin: 0;
    padding: 0;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(135, 230, 224);
}


.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 2rem 0;
}
form selected,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
form input{
    border:1px solid lightgray;
    font-size: 0.75rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    
}
form i{
    margin-top: 5vh;
    align-items: center;
}
button{
    background-color: chartreuse;
    height: 50px;
    color: #000;
    margin-top: 5rem;
    cursor: pointer;
    border-radius: 5rem;
}
button:hover{
    background-color: rgb(17, 178, 183);
    border-radius: 7rem;
    outline: none;
    border: 1px solid rgb(242, 239, 245);
}